{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <div class="auth-box">
    <div class="project-title">🎬 CineScope</div>
    <h2>Login</h2>
    <form method="post">
      <input name="username" placeholder="Username or Email" required>
      <input name="password" type="password" placeholder="Password" required>
      <button type="submit" class="auth-btn">Login</button>
    </form>
    <p>Don’t have an account? <a href="{{ url_for('register') }}">Register</a></p>
  </div>
</div>
{% endblock %}
